<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <link rel="stylesheet" href="../static/pico.css">
    <link rel="stylesheet" href="../static/estilos.css">
    <title>{% block title %}{% endblock %}</title>
</head>
    <section class="container-fluid">
        <body>
            {% for mensaje in mensaje %}
            <p  class= "err-msg"> {{ mensaje }}</p>
            {% endfor %}
            <main class="navbar">
                <nav>
                    <ul> 
                        <li class="item"><a href="/">Listado</a></li>
                        <li class="item"><a href="/nuevacompra">Nueva Operación</a></li>
                        <li class="item"><a href="/status">Resumen</a></li>
                        
                    </ul>
                </nav>
                <h1 class='cabecera'>{% block titulo2 %}{% endblock %}</h1>
                    {% block contenido %} {% endblock %}
                
            </main>
            <footer>
                &copy;2021-2022. Todos los derechos reservados
            </footer>
        
        </body>
    </section>
</html>